<template>
  <div class="index">
    <el-container style="height: 100vh; border: 1px solid #eee">
      <el-aside width="200px" style="background-color: rgb(0, 21, 41); overflow: hidden;">
        <h4 class="logo">后台管理</h4>
        <el-menu router :default-active="defaultActive" style="background-color: rgb(0, 21, 41)" >
          <el-submenu :index="''+index" v-for="(item,index) in menus" :key="index" >
            <template slot="title">
              <i class="el-icon-message"></i>
              {{item.authName}}
            </template>
            <el-menu-item :index="'/index/'+_item.path" v-for="(_item,_index) in item.children" :key="_index">{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>

        <el-main>
        <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { getMenus } from "../http/apis";
export default {
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: [],
      menus: [],
      defaultActive: ''
    };
  },
  methods:{
    logOut(){
      this.$store.commit("initState")
      this.$router.push({name: 'login'})
      console.log(this.$router)
    }
  },
  watch:{
      $route:{
        deep: true,
        handler(val){
          // console.log(to)
          this.defaultActive=val.path
        },
        immediate: true
      }
  },
  async created() {
    let res= await getMenus();
    this.menus=res
  }
};
</script>
<style lang="scss">
.index {
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: rgb(153, 153, 153);
  }
  .el-menu{
    border-right: 0;
  }
  .el-submenu .el-menu {
    background-color: rgb(0, 21, 41);
  }
  .el-submenu .el-menu-item {
    background-color: rgb(0, 21, 41);
  }
  .el-submenu.is-active {
    background-color: rgb(0, 21, 41);
    color: rgb(153, 153, 153);
  }
  .el-menu-item.is-active {
    color: #fff;
  }
  .el-menu-item {
    color: rgb(153, 153, 153);
  }
  .el-submenu__title {
    color: rgb(153, 153, 153);
  }
  .logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
  }
  .el-submenu__title:hover{
    background: rgb(0,17,33);
  }
  .el-menu-item:hover{
    background: rgb(0,17,33);
  }
  .el-main{
    padding: 15px;
    background: #eee;
  }
}
</style>