<template>
  <div class="login">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h4>欢迎登陆</h4>
      </div>
      <div class="text item">
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          class="demo-ruleForm"
          size="medium"
        >
          <el-form-item prop="username">
            <el-input
              type="user"
              v-model="ruleForm.username"
              autocomplete="off"
              placeholder="请输入用户名"
            >
              <template slot="prepend">
                <i class="el-icon-user"></i>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              type="password"
              v-model="ruleForm.password"
              autocomplete="off"
              placeholder="请输入密码"
            >
              <template slot="prepend">
                <i class="el-icon-lock"></i>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    var checkUser = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("用户名不能为空"));
      }
      callback();
    };
    var validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      }
      callback();
    };
    return {
      ruleForm: {
        password: "123456",
        username: "admin"
      },
      rules: {
        password: [{ validator: validatePass, trigger: "blur" }],
        username: [{ validator: checkUser, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const res = await this.login();
            const {token,username}= res.data
            this.$store.commit("setToken",token)
            this.$store.commit("setUsername",username)
            console.log(1)
            this.$router.push({
              name: "index"
            });
          }catch(err){

          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    login() {
      return this.http("login", "post", this.ruleForm)
        .then(res => {
          this.$message({
            message: res.meta.msg,
            type: "success"
          });
          // this.$router.push({
          //   name: "index"
          // });
          return res
        })
        .catch(err => {});
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  width: 100vw;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.box-card {
  width: 300px;
  margin-right: 160px;
  h4 {
    font-size: 14px;
  }
}

.el-form-item--medium .el-form-item__content {
  margin-left: 0 !important;
}
</style>