<template>
  <div class="users">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/index' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form inline>
      <el-form-item>
        <el-input v-model="query" @keyup.enter.native="searchUsers">
          <el-button slot="append" icon="el-icon-search" @click="searchUsers"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="dialogVisible = true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="this.obj.users" border style="width: 100%">
      <el-table-column label="#" width="60" type="index"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">{{scope.row.create_time| dealDate}}</template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @click.native="changeState(scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="showUser(scope.row)"
          ></el-button>
          <el-button type="success" icon="el-icon-check" circle size="small" @click="handleDistribute(scope.row)"></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="handleDelete(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
    ></el-pagination>
    <el-dialog header="新增用户" :visible.sync="dialogVisible" width="50%">
      <el-form ref="form" :model="userForm" :rules="userFormRules" label-width="120px">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="userForm.password"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAdd('form')">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editDialogFormVisible" width="50%">
      <el-form ref="editForm" :model="editForm" label-width="120px">
        <el-form-item label="用户名">
          <el-input v-model="editForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="手机号">
          <el-input v-model="editForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editForm.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleEdit">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="distributeDialogFormVisible" width="50%">
      <el-form ref="distributeForm" :model="distributeForm" label-width="120px">
        <el-form-item label="用户名">
          <el-input v-model="distributeForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="distributeForm.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择"></el-option>
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="distributeDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="distributeUser">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  addUsers,
  getUsers,
  changeState,
  editUsers,
  deleteUser,
  getUsersInfo,
  getRoles,
  distributeUser
} from "../http/apis";
export default {
  data() {
    return {
      tableData: [],
      params: {
        query: "",
        pagenum: 1,
        pagesize: 6
      },
      obj: [],
      query: "",
      dialogVisible: false,
      editDialogFormVisible: false,
      distributeDialogFormVisible: false,
      distributeForm: {
        email: "",
        id: '',
        rid: "",
      },
      editForm: {
        username: "",
        mobile: "",
        email: "",
        id: ""
      },
      userForm: {
        username: "",
        password: "",
        mobile: "",
        email: ""
      },
      userFormRules: {
        username: [
          {
            required: true,
            message: "请输入用户名"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码"
          }
        ]
      },
      options: []
    };
  },
  methods: {
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getData();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getData();
    },
    async getData() {
      let res = await getUsers(this.params);
      this.obj = res;
    },
    searchUsers() {
      this.params.query = this.query;
      this.getData();
    },
    async addUsers(data) {
      return await addUsers(data);
    },
    handleAdd(form) {
      this.$refs[form].validate(async valid => {
        if (valid) {
          await this.addUsers(this.userForm);
          this.dialogVisible = false;
          this.getData();
        } else {
          alert("error submit");
          return false;
        }
      });
    },
    async changeState(obj) {
      await changeState(obj.id, obj.mg_state);
      this.getData();
    },
    async handleEdit() {
      this.editDialogFormVisible = false;
      await editUsers(this.editForm);
      this.getData();
    },
    showUser(obj) {
      this.editDialogFormVisible = true;
      const { username, mobile, email, id } = obj;
      this.editForm = Object.assign(this.editForm, {
        username,
        mobile,
        email,
        id
      });
    },
    async handleDelete(id) {
      try {
        await this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteUser(id);
      } catch (error) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    async deleteUser(id) {
      await deleteUser(id);
      this.getData();
    },
    handleDistribute(obj){
      this.getRoles()
      this.distributeDialogFormVisible=true
      const {username,id} = obj
      this.distributeForm= Object.assign(this.distributeForm,{
        username,
        id
      })
      this.getUsersInfo()
    },
    async getUsersInfo(){
      const {rid} = await getUsersInfo(this.distributeForm.id)
      this.distributeForm= Object.assign(this.distributeForm,{
        rid
      })
    },
    async getRoles(){
      const res= await getRoles()
      this.options = res 
    },
    async distributeUser(){
      
      this.distributeDialogFormVisible=false
      await distributeUser(this.distributeForm.id, this.distributeForm.rid)
      this.getData()
    }
  },
  created() {
    this.getData();
  }
};
</script>

<style lang="scss">
.users {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-breadcrumb {
    padding: 15px 0;
  }
  .el-pagination {
    margin-top: 15px;
  }
}
</style>